h1, h2, h3, h4, h5, h6{
  font-family : 'Messina Sans';
}

div, p, span, input{
  font-family : 'Messina Sans';
}


/* Navbar - Tablet */

@media screen and (min-width : 768px) and (max-width : 1024px) {
  .Navbar{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .logo{
    margin: 1rem;
    width: 18%;
    justify-content: flex-end;
    display: flex;
  }

}